*.bridgesupport
*.gem
*.rbc
.byebug_history
.dat*
.env
.repl_history
.rvmrc
/.bundle/
/.config
/.yardoc/
/InstalledFiles
/_yardoc/
/coverage/
/doc/
/lib/bundler/man/
/pkg/
/rdoc/
/spec/examples.txt
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
/vendor/bundle
build-iPhoneOS/
build-iPhoneSimulator/
build/
